*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body , html {
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    display: flex;
    height: 13vh;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #111;
    padding: 1vw 8vw;
    z-index: 10;
}

nav h1{
    padding-top: 3vh;
}

.nav-items{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding: .1vh 0;
    position: relative;
    z-index: 10;
}

.nav-items h4{
    margin-bottom: .5vw;
    font-size: .8vw;
    font-weight: 600;
}

.nav-items h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-items h5 span{
    font-size: .8vw;
    font-weight: 400;
    display: inline-block;
    transform:  translateY(25px);
}

.nav-items h4{
    padding : 2vw 0 ;
}


#nav-button{
    padding: 15px 20px;
    background-color: #0da34e;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav-button svg{
    height: 1vw;
    width: 1vw;
}


#nav-bottom{
     width: 80%;
     height: 0vh;
     position: absolute;
     top: 100%;
     z-index: 9;
     border-bottom: 1px solid white;
     background-color: #111;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1{
    font-size: 8vw;
    font-weight: 900;
    line-height: 8.5vw;
    transform: translateY(0%);
}

#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0da34e;
    border-radius: 50%;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    line-height: 1vh;
}

#page1-elem{
   display: flex;
   gap: 10px;
   margin-top: 1.5vh;
   justify-content: center;
   align-items: center;
}

#page1-elem h4{
    padding: 15px 15px;
    border: 1px solid rgb(217, 215, 215);
    border-radius: 50px;
    font-weight: 400;
}

#moving-div{
    position: absolute;
    bottom: 5%;
    width: 44%;
    white-space: nowrap;
    padding: 1.1vw;
    overflow: hidden;
}

#moving-div .move{
  display: inline-block;
  animation-name: moveSlide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveSlide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


#moving-div .move img{
    height: 1.4vw;
    margin: 0 1vw;
}

#leftblur{
    background: linear-gradient(to left , transparent , #111);
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#rightblur{
    background: linear-gradient(to right , transparent , #111);
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 2vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(81, 78, 78);
}

#page2-left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    padding: 0 2vw;
    font-weight: 400;
}

#page2-left h5{
    padding: 0 2vw;
    font-weight: 400;
    width: 70%;
    font-size: 1rem;
}

#page2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
    position: relative;
    padding-top: 2vw;
    padding-bottom: 8vw;
    border-bottom: 1px solid #333;
}

.right-elem h2{
    font-size: 1.2vw;
    font-weight: 400;
}

.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale : 0;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url("https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/65f306410543a22950d85603_reel-cover.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page3-play h5{
    font-size: 1vw;
    padding: .8vw .8vw;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3vw;
    border-radius: 50px;
    background-color: white;
    color: #111;
    opacity: 0;
    transition: all ease .5s;
}

#page3-play i{
    background-color: white;
    color: black;
    font-size: 4vw;
    padding: 4vw 4vw;
    border-radius: 50%;
    cursor: pointer;
}

#page3-play:hover h5{
    cursor: pointer;
    opacity: 1; 
}

#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0.2);
    opacity: 0;
    border-radius: 30px;
}

#page4{
   min-height: 100vh;
   width: 100%;
   background-color: #fff;
   display: relative;
}

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vw;
}

.section-left{
    height: 80vh;
    width: 27%;
    border-top: 2px solid black;
}

.section-left h2{
    font-size: 3vw;
    font-weight: 500;
    color: black;
    padding-top: 4vh;
}

.section-left p{
    font-size: 1.5vw;
    padding-top: 10vw;
    text-align: left;
    color: black;
}

.section-right{
    height: 80vh;
    width: 70%;
    background-color: antiquewhite;
    position: relative;
}

.section-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 10vw;
}

#page5>button{
    background-color: #0da34e;
    padding: 2vw 3vw;
    font-size: 1vw;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    position: sticky;
    top: 15%;
}

#page5-rgt{
    width: 70%;
}

#page5-rgt>p{
  font-size: 2vw;
  text-align: justify;
}

#page5-rgt>p span{
    width: 15vw;
    display: inline-block;
}

#page5-content h3{
    font-size: 4vw;
    padding: 2vw 0;
    border-top: 1px solid #333;
    margin-top: 4vw;
}

.menu{
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2vw;
}

.menu h4{
    border: 1px solid white;
    padding: 1vw 1vw;
    border-radius: 50px;
    font-size: .7vw;
}

.container-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5vw 0;
    border-bottom: 1px solid #292727;
    position: relative;
    overflow: hidden;
}

.container-elem h4{
    width: 30%;
    font-size: 1.8vw;
    position: relative;
    z-index: 10;
}

.container-elem p{
    width: 70%;
    position: relative;
    z-index: 10;
}

.container-elem i {
    position: relative;
    z-index: 10;
}


.over{
    width: 100%;
    height: 100%;
    background-color: #424040;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all ease-in .5s;
}

.container-elem:hover .over{
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}
.container-elem:hover{
    border-top: 2px solid #fff;
}

summary::marker{
    content: "";
}

#page6{
    min-height: 100vh;
    width: 100%;
    background-color: #fff ;
    padding: 1vw 10vw;
}

#page6 h1{
    color: #111;
    text-align: center;
    font-size: 5vw;
    line-height: 5vw;
    padding-left: 15vw;
}

#page6-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 5vw;
    margin-top: 3vw;
}

#page6-content #page6-rgt{
    width: 70%;
}

#page6-content #page6-rgt p{
    font-size: 1.5vw;
    color: black;
    margin-bottom: 5vw;
}

#blue-btn{
    background-color: #4f5bff;
    width: 15vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#blue-btn h4{
    position: absolute;
    font-size: .8vw;
    font-weight: 400;
    text-transform: uppercase;
}

#blue-btn i{
    font-size: 1vw;
    padding-left: 1vw;
}

#page6-bottom{
    height: 44vh;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#btm-part1{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm-part2{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm-part3{
    border-right: 1px solid #dadada;
    width: 22%;
    height: 100%;
}

#btm-part4{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm-part5{
    width: 30%;
    height: 100%;
}

.btm-parts{
    padding: 2vw 0;
}

.btm-parts h5{
    color: black;
    font-weight: 400;
    font-size: 1.1vw;
    margin-bottom: 3vh;
    padding: 0 .5vw;
}

.btm-parts h4{
    display: flex;
    align-items: center;
    background-color: #111;
    width: 80%;
    padding: 4px 5px;
    border-radius: 50px;
    font-size: .9vw;
    margin-bottom: .1vh;
    font-weight: 500;
}

.btm-parts h4 span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    background-color: #333;
    padding: .5vw;
    border-radius: 50%;
    margin-right: 1vw;
}

#page7{
    height: 30vh;
    width: 100%;
    background-color: #111;
}